@charset "utf-8";
body{
    font-family: montserrat, Arial, Helvetica, sans-serif;
    background: #150923;
    position: relative;
    align-content: center;
}
a{
    color:rgb(255, 255, 255)
}
a:hover,a:focus{
    color:#1eb45a
}
h1, h2, h3, h4 {
    color: white;
    font-weight: 700;
}
p{
    color:#ffffff
}
.main1{
    margin-top:90px
}
.main2{
    margin-top:0px
}
.img{
    border:0;
    text-align:center;
}
.img-thumbnail{
    margin:20px 0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    text-align:center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.img-thumbnail h4,.img-thumbnail p{
    text-align:center
}
.PageHead{
    margin-top:30px
}
.PageHead h1,.PageHead h3{
    text-align:center
}
.PageHead h3{
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
}
.features{
    margin:25px 0;
    float:left
}
.features img{
    float:left;
    padding:10px 20px 0 0
}
.features p{
    padding-left:80px
}